body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:319px;
  height:480px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:2px;
  top:54px;
  width:316px;
  height:285px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:285px;
}
#u4 {
  position:absolute;
  left:2px;
  top:134px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:214px;
  width:250px;
  height:125px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u6 {
  position:absolute;
  left:2px;
  top:54px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:66px;
  width:250px;
  height:125px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u8 {
  position:absolute;
  left:2px;
  top:54px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:30px;
  top:78px;
  width:180px;
  height:62px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:62px;
}
#u10 {
  position:absolute;
  left:2px;
  top:23px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:30px;
  top:226px;
  width:110px;
  height:54px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:5px;
  top:440px;
  width:35px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:18px;
  top:364px;
  width:265px;
  height:15px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:319px;
  height:47px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:47px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:44px;
  top:42px;
  width:116px;
  height:5px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:5px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:15px;
  top:10px;
  width:275px;
  height:22px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:150px;
  top:6px;
  width:10px;
  height:33px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:33px;
}
#u24 {
  position:absolute;
  left:44px;
  top:17px;
  width:53px;
  height:13px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:207px;
  top:19px;
  width:53px;
  height:13px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:5px;
  top:6px;
  width:135px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:170px;
  top:6px;
  width:135px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:30px;
  top:120px;
  width:200px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:34px;
  top:266px;
  width:200px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:38px;
  top:125px;
  width:40px;
  height:13px;
  color:#FF66FF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:104px;
  top:124px;
  width:27px;
  height:13px;
  color:#FF66FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:168px;
  top:122px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#009900;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:38px;
  top:270px;
  width:40px;
  height:13px;
  color:#FF66FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:94px;
  top:270px;
  width:40px;
  height:13px;
  color:#3399FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:480px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:46px;
  width:320px;
  height:420px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:420px;
}
#u45 {
  position:absolute;
  left:2px;
  top:202px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:5px;
  top:440px;
  width:35px;
  height:35px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:2px;
  top:3px;
  width:319px;
  height:47px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:47px;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:15px;
  top:10px;
  width:275px;
  height:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:22px;
}
#u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:44px;
  top:17px;
  width:53px;
  height:13px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:207px;
  top:19px;
  width:53px;
  height:13px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:161px;
  top:42px;
  width:159px;
  height:5px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:5px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-6px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:150px;
  top:6px;
  width:10px;
  height:33px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:33px;
}
#u59 {
  position:absolute;
  left:-10px;
  top:44px;
  width:130px;
  height:5px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:5px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-6px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:5px;
  top:6px;
  width:135px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:170px;
  top:6px;
  width:135px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:329px;
  top:100px;
  width:321px;
  height:151px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:151px;
}
#u64 {
  position:absolute;
  left:2px;
  top:68px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:329px;
  top:60px;
  width:221px;
  height:28px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:28px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
