body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:59px;
  width:319px;
  height:431px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:431px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:390px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:390px;
}
#u4 {
  position:absolute;
  left:2px;
  top:187px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:7px;
  top:330px;
  width:200px;
  height:55px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u6 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:7px;
  top:325px;
  width:123px;
  height:52px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:103px;
  top:395px;
  width:115px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:139px;
  top:401px;
  width:40px;
  height:19px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:146px;
  top:404px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:7px;
  top:393px;
  width:35px;
  height:35px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:167px;
  top:325px;
  width:123px;
  height:26px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:167px;
  top:305px;
  width:90px;
  height:15px;
  color:#FF0000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:103px;
  top:395px;
  width:115px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:431px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:431px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:430px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:430px;
}
#u23 {
  position:absolute;
  left:2px;
  top:207px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:390px;
  width:320px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:70px;
  top:170px;
  width:80px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:11px;
  top:240px;
  width:297px;
  height:146px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:146px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:277px;
  width:157px;
  height:13px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:21px;
  top:290px;
  width:156px;
  height:88px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:88px;
}
#u31 {
  position:absolute;
  left:2px;
  top:36px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:18px;
  top:20px;
  width:200px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:17px;
  top:22px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:431px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:430px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:430px;
}
#u37 {
  position:absolute;
  left:2px;
  top:207px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:386px;
  width:317px;
  height:44px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:44px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:270px;
  width:320px;
  height:100px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u41 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:285px;
  width:105px;
  height:13px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:10px;
  top:308px;
  width:160px;
  height:52px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
}
#u45 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:10px;
  top:386px;
  width:290px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:329px;
  top:15px;
  width:343px;
  height:195px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:195px;
}
#u48 {
  position:absolute;
  left:2px;
  top:90px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
