@charset "utf-8";
/* CSS Document */
.threescroll{ width: 300%; top: 46px;}
.part{ overflow-y: scroll;}
.namelist{ overflow-y: scroll;}
.babys{ border-left: 1px solid #f0f0f0; min-height: 78px;}
.tea{ left: 5px; margin-top: -25px; height: 50px; width: 50px;}
.ilink{width: 20%; padding: 5px 3px; }
.ilink.active:before{ display: block; content: "-"; position: absolute; left: 0; top: 0; height: 16px; width: 16px; text-align: center; background: #f56e6f; border-radius: 50%; line-height: 16px; color: #fff;}
.threescroll{ width: 300%; top: 46px; }
.threescroll .part{ overflow-y: scroll;}
.delbb{width: 20%; padding: 19px 3px; color: #ddd; border:3px dashed #ddd;}
.ls{ padding: 5px 30px 5px 60px; height: 70px;}
.ls .img{top: 5px; width: 40px;}
.ls:nth-child(2n){ background: #fff;}
.count{ right: 20px; line-height: 60px;}
.star i{ line-height: 60px; font-size: 28px; color: #e65353;}
.pending{ bottom: -240px; height: 240px; border-top: 1px solid #ddd; z-index: 9999; overflow-x: scroll;}
.pending a{ width: 50px; padding: 2px 5px 0;}
.pending .name{ font-size: 13px; line-height: 16px;}