body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1557px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:320px;
  height:549px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:549px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:47px;
  top:32px;
  width:200px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:37px;
  width:99px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:22px;
  top:150px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:121px;
  top:150px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:218px;
  top:150px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:18px;
  top:250px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:121px;
  top:250px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:10px;
  top:80px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:218px;
  top:250px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:26px;
  top:350px;
  width:170px;
  height:83px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:83px;
}
#u14 {
  position:absolute;
  left:2px;
  top:34px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:220px;
  top:350px;
  width:90px;
  height:100px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:68px;
  top:155px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:253px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:812px;
  top:13px;
  width:300px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:800px;
  top:0px;
  width:757px;
  height:272px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:272px;
}
#u24 {
  position:absolute;
  left:2px;
  top:128px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:10px;
  top:62px;
  width:66px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:262px;
  top:108px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:331px;
  top:164px;
  width:365px;
  height:80px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:80px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:331px;
  top:261px;
  width:387px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:39px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:800px;
  top:310px;
  width:320px;
  height:480px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u34 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:800px;
  top:747px;
  width:320px;
  height:43px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:808px;
  top:660px;
  width:300px;
  height:82px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:920px;
  top:498px;
  width:200px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:963px;
  top:507px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#33FF00;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:803px;
  top:527px;
  width:313px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:808px;
  top:542px;
  width:195px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:808px;
  top:544px;
  width:23px;
  height:11px;
  font-size:11px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:800px;
  top:379px;
  width:311px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1074px;
  top:382px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:807px;
  top:379px;
  width:23px;
  height:11px;
  font-size:11px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:800px;
  top:450px;
  width:320px;
  height:127px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:127px;
}
#u56 {
  position:absolute;
  left:2px;
  top:56px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:802px;
  top:420px;
  width:311px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:809px;
  top:423px;
  width:34px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1033px;
  top:421px;
  width:78px;
  height:15px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:1014px;
  top:420px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1000px;
  top:409px;
  width:111px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:803px;
  top:467px;
  width:314px;
  height:67px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:67px;
}
#u67 {
  position:absolute;
  left:2px;
  top:26px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:805px;
  top:484px;
  width:306px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:816px;
  top:508px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:812px;
  top:475px;
  width:30px;
  height:30px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:812px;
  top:475px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:842px;
  top:420px;
  width:256px;
  height:134px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:134px;
}
#u76 {
  position:absolute;
  left:2px;
  top:59px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:803px;
  top:310px;
  width:312px;
  height:169px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:169px;
}
#u78 {
  position:absolute;
  left:2px;
  top:76px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1006px;
  top:443px;
  width:107px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:222px;
  top:350px;
  width:72px;
  height:83px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:83px;
}
#u81 {
  position:absolute;
  left:2px;
  top:34px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:242px;
  top:370px;
  width:31px;
  height:26px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u83 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:222px;
  top:416px;
  width:88px;
  height:15px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
}
#u85 {
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:244px;
  top:417px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:220px;
  top:350px;
  width:74px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:926px;
  top:668px;
  width:12px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:26px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:10px;
  top:612px;
  width:292px;
  height:356px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:356px;
}
#u92 {
  position:absolute;
  left:2px;
  top:170px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:30px;
  top:628px;
  width:12px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:26px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:29px;
  top:700px;
  width:12px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:26px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:29px;
  top:764px;
  width:12px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:26px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:29px;
  top:829px;
  width:12px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:39px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:29px;
  top:912px;
  width:12px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:26px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:9px;
  top:579px;
  width:342px;
  height:30px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:331px;
  top:1px;
  width:300px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#FF0000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:13px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:331px;
  top:24px;
  width:47px;
  height:15px;
  color:#FF0000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:331px;
  top:47px;
  width:369px;
  height:73px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:73px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:331px;
  top:141px;
  width:151px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:13px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:803px;
  top:285px;
  width:131px;
  height:13px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:331px;
  top:327px;
  width:99px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:13px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:331px;
  top:348px;
  width:300px;
  height:99px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:361px;
  top:484px;
  width:73px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:361px;
  top:508px;
  width:300px;
  height:117px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:117px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:361px;
  top:627px;
  width:73px;
  height:170px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:170px;
}
#u124 {
  position:absolute;
  left:2px;
  top:77px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:361px;
  top:817px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:361px;
  top:840px;
  width:300px;
  height:13px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:13px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:361px;
  top:870px;
  width:300px;
  height:165px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:165px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
