body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:68px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:68px;
}
#u1 {
  position:absolute;
  left:2px;
  top:26px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:68px;
  width:318px;
  height:482px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:482px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:318px;
  height:478px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:478px;
}
#u4 {
  position:absolute;
  left:2px;
  top:231px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:102px;
  top:83px;
  width:200px;
  height:10px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:10px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-3px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:260px;
  top:81px;
  width:40px;
  height:13px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:180px;
  top:68px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:223px;
  top:165px;
  width:78px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:2px;
  top:391px;
  width:318px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:18px;
  top:405px;
  width:200px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:17px;
  top:409px;
  width:61px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:12px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:279px;
  top:406px;
  width:20px;
  height:18px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:2px;
  top:444px;
  width:35px;
  height:35px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:255px;
  top:17px;
  width:50px;
  height:44px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:13px;
  top:159px;
  width:97px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:202px;
  width:320px;
  height:158px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:158px;
}
#u27 {
  position:absolute;
  left:2px;
  top:71px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:2px;
  top:250px;
  width:312px;
  height:133px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:133px;
}
#u29 {
  position:absolute;
  left:2px;
  top:58px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:12px;
  top:396px;
  width:299px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:0px;
  top:194px;
  width:313px;
  height:46px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:46px;
}
#u32 {
  position:absolute;
  left:2px;
  top:15px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:18px;
  top:165px;
  width:23px;
  height:11px;
  font-size:11px;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:99px;
  top:200px;
  width:200px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:18px;
  top:210px;
  width:23px;
  height:10px;
  font-size:11px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:10px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:222px;
  top:206px;
  width:78px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:170px;
  top:166px;
  width:40px;
  height:13px;
  color:#33FF00;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:175px;
  top:152px;
  width:120px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:50px;
  top:14px;
  width:255px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:300px;
  top:202px;
  width:10px;
  height:29px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:29px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:482px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u48 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:80px;
  width:300px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:482px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u51 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:14px;
  top:17px;
  width:200px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:14px;
  top:20px;
  width:105px;
  height:13px;
  color:#CCCCCC;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:10px;
  top:80px;
  width:300px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:482px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:8px;
  top:3px;
  width:302px;
  height:64px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:18px;
  top:6px;
  width:35px;
  height:29px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:17px;
  top:45px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF66FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:8px;
  top:77px;
  width:302px;
  height:64px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
}
#u64 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:18px;
  top:80px;
  width:35px;
  height:29px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:17px;
  top:119px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#3399FF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:65px;
  top:100px;
  width:170px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:65px;
  top:79px;
  width:68px;
  height:15px;
  color:#999999;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:8px;
  top:151px;
  width:302px;
  height:64px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
}
#u74 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:18px;
  top:154px;
  width:35px;
  height:29px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:21px;
  top:193px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF66FF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:276px;
  top:442px;
  width:35px;
  height:35px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:6px;
  top:441px;
  width:35px;
  height:35px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:68px;
  top:29px;
  width:170px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:68px;
  top:6px;
  width:68px;
  height:15px;
  color:#CCCCCC;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:68px;
  top:177px;
  width:170px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:68px;
  top:154px;
  width:93px;
  height:15px;
  color:#CCCCCC;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:225px;
  top:47px;
  width:25px;
  height:15px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u92 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:223px;
  top:51px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:208px;
  top:49px;
  width:15px;
  height:15px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u97 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:8px;
  top:0px;
  width:302px;
  height:169px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:169px;
}
#u99 {
  position:absolute;
  left:2px;
  top:76px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:204px;
  top:134px;
  width:104px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  position:absolute;
  left:260px;
  top:50px;
  width:17px;
  height:17px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:277px;
  top:51px;
  width:27px;
  height:13px;
  color:#999999;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:223px;
  top:121px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:208px;
  top:119px;
  width:15px;
  height:15px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u110 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:260px;
  top:120px;
  width:17px;
  height:17px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:277px;
  top:121px;
  width:27px;
  height:13px;
  color:#999999;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:223px;
  top:195px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:208px;
  top:193px;
  width:15px;
  height:15px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u120 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:260px;
  top:194px;
  width:17px;
  height:17px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:277px;
  top:195px;
  width:27px;
  height:13px;
  color:#999999;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:260px;
  top:10px;
  width:50px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:482px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:480px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:480px;
}
#u128 {
  position:absolute;
  left:2px;
  top:232px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:39px;
  top:440px;
  width:220px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  position:absolute;
  left:8px;
  top:270px;
  width:300px;
  height:52px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:340px;
  top:20px;
  width:300px;
  height:134px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:134px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
