body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:62px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:62px;
}
#u1 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:30px;
  width:200px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:33px;
  width:27px;
  height:13px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:8px;
  top:71px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:8px;
  top:84px;
  width:302px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u9 {
  position:absolute;
  left:8px;
  top:100px;
  width:79px;
  height:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:228px;
  top:90px;
  width:82px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:8px;
  top:135px;
  width:79px;
  height:13px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:228px;
  top:125px;
  width:82px;
  height:32px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:8px;
  top:185px;
  width:27px;
  height:13px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:8px;
  top:198px;
  width:302px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u20 {
  position:absolute;
  left:8px;
  top:216px;
  width:170px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:228px;
  top:206px;
  width:82px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:8px;
  top:248px;
  width:300px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:8px;
  top:430px;
  width:35px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
